@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato&family=Montserrat&family=Prompt&family=Roboto&family=Source+Sans+Pro&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

nav {
  width: 100%;
  height: 72px;
  background: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin: 15px;
    text-decoration: none;
    color: white;
  }

  div {
    margin-right: 120px;
  }

  img {
    margin-left: 120px;
  }
}

.get-started {
  background: url(../assets/city.png);
  background-size: cover;
  background-position: center;
  height: 640px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 46, 46);
    opacity: 0.6;    
  }

  .download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 120px;
    flex: 1 1 60%;
    color: white;
    height: 424px;
    z-index: 1;

    img {
      height: 105px;
      width: 246px;
    }

    h1 {
      width: 426px;
      font-size: 2.2em;
    }
    
    p {
      max-width: 800px;
      font-size: 1em;
      margin-right: 10px;    
    }
    

    button {
      background: none;
      border: 2px solid white;
      text-transform: uppercase;
      font-size: 0.9em;   
      font-weight: bold;
      color: white;
      height: 42px;
      width: 135px;
      transition: 0.3s;

      &:hover {
        background: white;
        color: rgb(46, 46, 46);
      }
    }
  }
  
  form {
    margin: 120px auto;
    margin-top: 75px;
    margin-right: 130px;
    background: white;
    height: 424px;
    flex: 1 1 20%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;

    span {
      font-weight: bold;
      line-height: 50px;
      margin-left: 50px;
      margin-top: 10px;
    }

    h2 {
      background: #f5f5f5;
      line-height: 55px;
      text-align: center;
      font-size: 1.3em;
      border-radius: 5px 5px 0 0;

      span {
        text-transform: uppercase;
        color: #e47c66;
        margin-left: 0;
      }

    }

    input[type="text"]{
      width: 75%;
      line-height: 40px;
      margin: auto;
      border: none;
      border-bottom: 1px solid #ededec;
      margin-left: 50px;
      
      &::placeholder{
        color: #ededec;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    .radio-inputs {
      margin: 10px 50px;
      display: flex;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7em;
      }

    .radio-input {
      display: flex;
      margin-bottom: 30px;

      input {
        margin-right: 5px;
      }

      label {
        margin-right: 20px;
      }

      }

    input[type="radio"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid #41d39663;
      position: relative;
      border-radius: 50%;
    }

    input[type="radio"],
    input[type="radio"] + label {
    cursor: pointer;
    }

    input[type="radio"]:before {
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      content: "";
      width: 10%;
      height: 10%;
      background: #41d395;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s;
    }

    input[type="radio"]:checked:before {
      transform: scale(1);
      border: 2px solid #41d395;
    }

    input[type="radio"]:checked {
      border: 2px solid #41d395;
    }

    button {
      line-height: 55px;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      background: #41d395;
      border: none;
      border-radius: 0 0 5px 5px;
      transition: 0.3s;

      &:hover {
        background: #41d396b7;
      }
    }
  }
}

.social-media {
  display: flex;
  align-items: center;
  height: 105px;
 
  p {
    color: grey;
  }

  div {
    width: 50%;

    &:nth-of-type(1){
      margin-left: 120px;
    }

    &:nth-of-type(2){
      display: flex;
      justify-content: space-around;
      margin-right: 120px;
    }
  }
}

#tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 595px;
  width: 100%;
  background: black;

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #a37169;
    color: rgba(255, 255, 255, 0.658);
    font-size: 0.8em;
    text-transform: uppercase; 
    border: none;  
    margin: 20px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background: #e27866;
      color: white;
    }

    span {
      transform: rotate(-45deg);
    }
  }

  .selected {
    background-color: #e27866;
    color: white;
  }

  .tab {
    margin: 15px;
    opacity: 0;
    transform: translateX(20px);
    transition: 0.5s;
    display: flex;
    flex-direction: row;

    p {
    max-width: 600px;
    text-align: justify;
    }

    .text {
    flex: 1 1 60%;
    }

    .images {
    flex: 1 1 20%;

    }
    
  }
  
  .tabAnimation{
    transform: translateX(0);
    opacity: 1;
  }

}

.about-1 {
  width: 100%;
  height: 596px;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    width: 60%;
    margin: 100px;

    img {
      margin-left: 120px;
      height: 170px;
    }
  }

  .text {
  margin-right: 120px;
  display: flex;
  flex-direction: column;

    .title {
      display: flex;
    }  

    h2 {
      color: white;
      font-size: 1.8em;
      max-width: 315px;
      margin: 20px 0;
    }

    h3 {
      color: white;
      font-size: 1em;
      text-align: justify;
      margin: 10px 0;
    }

    p {
      color:#acacac;
      font-size: 0.8em;
      text-align: justify;
      margin: 10px 0;
    }

    .round-box {
      background: #e47c66;
      height: 20px;
      width: 20px;
      padding: 20px;
      border-radius: 50%;
      margin: 20px 0;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-regular {
        font-size: 1.6em;
      }
    }
    

    }

}

.about-2 {
  height: 512px;
  text-align: center;

  h2 {
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 80px;
  }

  p {
    font-size: 0.9em;
    color: #86878B;
    margin: 20px auto;
  }

  h3 {
    color: #333333;
    font-weight: lighter;
    font-size: 1.3em;
  }

  .awesome {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px auto;

  div {
    width: 20%;
    margin: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;

      .round-border {
        height: 20px;
        width: 20px;
        padding: 20px;
        border: 1px solid #e47c66;
        border-radius: 50%;
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;

      .fa-solid, .fa-brands {
        font-size: 1.6em;
      }
      }
    }
  }
}

.pricing {
  background: #6494e3;
  height: 750px;
  text-align: center;

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    margin: 20px auto;
  }

  p {
    color: white;
    margin: 20px auto;
  }

  .swiper {
    max-width: 1000px;
    margin-top: 50px;
      
    .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    background: white;
    border-radius: 5px;

    .price {
      background:#333333;
      width: 100%;
      border-radius: 5px 5px 0 0;
      
      h3 {
        color: #afafaf;
        font-size: 0.4em;
        font-weight: lighter;
        margin-top: 15px;
      }

      h2 {
        font-size: 0.6em;
        font-weight: lighter;


        span {
          font-size: 3.5em;
        }
      }

      p {
        font-size: 0.3em;
        font-weight: lighter;
        color: #afafaf;
      }
    }

    .green-deco {
      min-height: 6px;
      width: 100%;
      background: #49d498;
      line-height: 40px;
      color: white;
      font-size: 0.25em;
      text-transform: uppercase;
    }

    li {
      font-size: 0.25em;
      text-decoration: none!important;
      text-transform: uppercase;
      margin: 20px auto;
      color: #86878B;
    }
  }
}

.reviews{
  background: black;
  height: 600px;
}

.comments {
  background: blue;
}

.contact {
  width: 100%;
  height: 573px;
  background:#e47c66;
  text-align: center;
  position: relative;

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 100px;
  }

  p {
    color: white;
    line-height: 50px;
    font-size: 1em;
  }

  form {
    margin: 20px auto;
    background: white;
    height: 314px;
    width: 390px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;

    input[type="text"]{
      width: 75%;
      line-height: 40px;
      margin: auto;
      border: none;
      border-bottom: 1px solid #e2e2e0;
      margin-left: 50px;
      
      &::placeholder{
        color: #ededec;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    .radio-inputs {
      margin: 20px 50px;
      margin-bottom: -10px;
      display: flex;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.7em;
      }

    .radio-input {
      display: flex;
      margin-bottom: 30px;

      input {
        margin-right: 5px;
      }

      label {
        margin-right: 20px;
      }

      }

    input[type="radio"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border: 2px solid #41d39663;
      position: relative;
      border-radius: 50%;
    }

    input[type="radio"],
    input[type="radio"] + label {
    cursor: pointer;
    }

    input[type="radio"]:before {
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      content: "";
      width: 10%;
      height: 10%;
      background: #41d395;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s;
    }

    input[type="radio"]:checked:before {
      transform: scale(1);
      border: 2px solid #41d395;
    }

    input[type="radio"]:checked {
      border: 2px solid #41d395;
    }

    button {
      line-height: 48px;
      width: 40%;
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      background: #41d395;
      margin: 20px auto;
      border: none;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background: #41d396b7;
      }
    }
  }

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: grey;
  width: 100%;
  height: 122px;
  font-size: 0.9em;
  div {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 100px;
  }
  span {
    margin-right: 125px;
  }
}

@media (min-width: 1000px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}